doctype 5
html(lang='en', ng-app='pipewebApp')
  head
    meta(charset='utf-8')
    title Pipegraph
    link(rel='stylesheet', href='/styles/main.css')
body
  #main
    .settings-nav
      .container
        ul.nav
          li.login.floatright
            button.btn.btn-default.login(data-toggle='modal', href='#login')
              span.glyphicon.glyphicon-log-in
              span Login
          li.settings.floatright
            i.icon-user
            span Accounts
          li.help.floatright
            i.icon-question-sign
            span Help
          li.contribute
            button.btn.btn-default.contribute(href='#contribute')
              span.icon-edit
              span Contribute

    .nav-container
      .container
        button.btn.btn-slide-nav
          span.icon-align-justify
        ul.nav
          li.discover
            span.nav-icons.compass.front
            span Discover
          li.learn
            span.nav-icons.flag.front
            span Learn
          li.connect
            span.nav-icons.chat.front
            span Connect
          li.search
            .input-group
              input.form-control(type='text', placeholder='Show Title')
              span.input-group-btn
                button.btn.btn-default.glyphicon.glyphicon-search(type='button')
          li.search-menu
            .btn-group
              button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                span.text Find Show
                span.caret
              ul.dropdown-menu(role='menu')
                li Find Show
                li Find Person
                li Find Channel
        .clear
    .view(ng-view='')

  footer
    .container
      .row
      section
        ul
          li
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='about')
              span About the app
          li
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='movieClub')
              span Movie Club
      section
        ul
          li
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='pipefish')
              span Pipefish.com
          li
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='contact')
              span Contact Us
      section
        ul
          li
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='support')
              span Support
          li
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='pivacy')
              span Pivacy Policy
      section
         ul
          li.facebook
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='Facebook')
              i.icon-facebook
              span Facebook
          li.twitter
            a(data-toggle='', title='', style='cursor: pointer;', data-original-title='Twitter')
              i.icon-twitter
              span Twitter
    .container
      .row.footer-bottom
        span
          p ©2012-2013 All Rights Reserved. Pipefish TV Club is a trademark of Pipefish, LLC.
        span
          i.icon-globe
          span Made in Atlanta
    .darth-blanket

  .modal.fade#login(role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3.modal-title Log in / Sign up
        .modal-body
          .body-text
            p.text Sign up with these networks to use the complete app!
          .nav
            a.btn.btn-default.btn-warning.log-google(href='/auth/google')
              span.icon-google-plus
              span Google
            a.btn.btn-default.btn-primary.log-facebook(href='/auth/facebook')
              span.icon-facebook
              span Facebook
            a.btn.btn-default.btn-info.log-twitter(href='/auth/twitter')
              span.icon-twitter
              span Twitter
          .body-text
            p.privacy
              | We respect your privacy and data and will not share it. Please take a look at our terms of use and
              a(href='http://pipefish.com/privacy.html') privacy policy
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

  .modal.hide.fade#badge-modal(role='dialog', aria-labelledby='badgeLabel', aria-hidden='true')
    div.modal-header
      button.close.close-badge
        i.icon-remove.badge-close
      h3.badge-modal-heading New Achievement!
    div.modal-body
      h5.badge-heading
      span.badge-image
      p.badge-text
      div.modal-milestone-section
        hr
        p.next Next Milestone:
          span.badge-icon-small
          span.badge-name
    div.modal-footer
      span.badge-feedback
      button.btn.close-badge Ok
      button#modal-share-button.btn.share-badge Share

  .modal.fade#video(role='dialog', aria-labelledby='videoLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title Watch Video
        .modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

  //- load bower scripts
  script(src='bower_components/jquery/jquery.js')
  script(src='bower_components/jquery.easing/js/jquery.easing.js')
  script(src='bower_components/jquery-ui/ui/jquery-ui.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/sparkline/index.js')
  script(src='bower_components/jquery-toggle/toggles.min.js')
  script(src='bower_components/ngInfiniteScroll/ng-infinite-scroll.js')
  script(src='bower_components/jquery.serializeJSON/jquery.serializeJSON.js')

  //- load app scripts
  script(src='scripts/app.js')
  script(src='scripts/controllers/discover/discover.js')
  script(src='scripts/controllers/discover/show.js')
  script(src='scripts/controllers/learn/learn.js')
  script(src='scripts/controllers/learn/person.js')
  script(src='scripts/controllers/connect/connect.js')
  script(src='scripts/controllers/connect/comment.js')
  script(src='scripts/controllers/settings/accounts.js')

  script(src='http://standalone.pipefish.com:9002/assets/fishtracker.js')
  script
    document.write('<div id="fishtracker"></div>');fishtracker.init({site:'pipeweb',rec:'pipeweb'});
